h1 {
            color: rgb(0, 0, 0);
            background-color: rgb(236, 201, 23);
        }
        p {
            color: rgb(0, 0, 0);
            background-color: rgb(236, 201, 23);
            
        }

        Body {
        text-align: center;
        background: #E0E2FF center/cover url("../assets/images/FrogBG.png") repeat;
        background-color: rgb(236, 201, 23);
    
        }

        h2 {
            text-align: center;
            color: rgb(0, 0, 0);
        }

        li {
        text-align: center;
        color: rgb(0, 0, 0); 
        }
        
        button{
            background-color: rgb(233, 200, 35);
            font-size: 25px; 
            border-radius: 5px;
        }
        
.sidebar-left {
    float: left;
    width: 30%; /* Adjust width as needed */

}

.main-content {
    float: left;
    width: 40%; /* Adjust width as needed */
}

.sidebar-right {
    float: right;
    width: 30%; /* Adjust width as needed */

}
/*styling for navigationbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(79, 13, 90);
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}