h1 {
            color: rgb(156, 99, 197);
            background-color: rgb(79, 13, 90);
        }
        p {
            color: rgb(156, 99, 197);
            text-align: center;
            
        }

        Body {
        text-align: center;
        background: #E0E2FF center/cover url("../assets/images/FrogBG_rant.png") repeat;
    
        }

        h2 {
            text-align: center;
            color: rgb(156, 99, 197);
        }

        li {
        text-align: center;
        color: rgb(156, 99, 197); 

        }
                button{
            background-color: rgb(156, 99, 197);
            font-size: 25px; 
            border-radius: 5px;
                }

.sidebar-left {
    float: left;
    width: 12.5%; /* Adjust width as needed */

}

.main-content {
    float: left;
    width: 75%; /* Adjust width as needed */
    background-color: rgb(20, 10, 20);
}

.sidebar-right {
    float: right;
    width: 12.5%; /* Adjust width as needed */

}