h1 {
  color: rgb(79, 13, 90);
  background-color: rgb(156, 99, 197);
}
p {
  color: rgb(79, 13, 90);
  text-align: center;
}

Body {
  text-align: center;
  background: #e0e2ff center/cover url("../images/frog_bg.png") repeat;
}

h2 {
  text-align: center;
  color: rgb(79, 13, 90);
}

li {
  text-align: center;
  color: rgb(79, 13, 90);
}

button {
  background-color: rgb(156, 99, 197);
  font-size: 25px;
  border-radius: 5px;
}
